/* Smooth transitions for sidebar */
aside {
  transition: top 0.3s ease, height 0.3s ease;
}

/* Scroll margin for sections */
section > div {
  scroll-margin-top: 7rem;
}

/* Hide scrollbar */
aside::-webkit-scrollbar {
  display: none;
}

aside {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}